<nav class="new-navbar">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo"><a href="/">Morgan</a></label>
  <ul class="new-navbar-nav">
    <li class="new-navbar-item">
      <a href="/education">Education</a>
    </li>
    <li class="new-navbar-item">
      <a href="/work">Work</a>
    </li>
    <li class="new-navbar-item">
      <a href="/photography">Photography</a>
    </li>
    <li class="new-navbar-item">
      <a href="/adventures">Adventures</a>
    </li>
    <li class="new-navbar-item">
      <a href="/web_projects">Web Projects</a>
    </li>
  </ul>
</nav>

<!-- <nav class="navbar">
  <div class="navbar-item-bar">
    <div class="nav-item">
      <a><%= link_to "Education", "/education" %></a>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <a><a><%= link_to "work", "/work" %></a></a>
    </div>
    <div class="navbar-bar">
    </div>
    <div class="nav-item">
      <a><%= link_to "Photography", "/photography" %></a>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <a><%= link_to "Adventures", "/adventures" %></a>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <a><%= link_to "Web projects", "/web_project" %></a>
    </div>
  </div>
</nav> -->
