<nav class="navbar">

  <div class="navbar-item-bar">
    <div class="logo">
      <%= link_to image_tag("ML_LOGO.png", alt: "Logo Morgan Lizop"), "/" %>
    </div>
    <div class="nav-item">
      <a><%= link_to "Web projects", "/web_project" %></a>
    </div>
    <div class="navbar-bar">
    </div>
    <div class="nav-item">
      <a><%= link_to "Photography", "/photography" %></a>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <a><%= link_to "Education", "/education" %></a>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <a><%= link_to "Adventures", "/adventures" %></a>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <a><a><%= link_to "work", "/work" %></a></a>
    </div>
  </div>
</nav>
