<div class="education">
  <div class="education-white-screen">
    <div class="top-fill"></div>
    <div class="education-category">
      <div class="category-title">
        <h1>Diploma</h1>
      </div>
      <div class="diploma-grid">
        <div class="education-card">
          <div class="title">
            <h2>Bachelor of Science in Hospitality Management</h2>
          </div>
          <div class="university">
            <h2>Ecole Hoteliere de Lausanne</h2>
          </div>
          <div class="logo">
            <%= link_to image_tag("EHL_LOGO.png", alt: "logo EHL"), "https://www.ehl.edu/en/programs/bachelor-degree-in-hospitality", target: :_blank %>
          </div>
          <div class="description">
            <p>In this four and a half year program, I learnt the basics of many important topics such as marketing, digital marketing, finance and project management. I came out with a great appreciation of the customer's experience rather than the intended experience of the customer and a persisting love for analytics.</p>
          </div>
        </div>
        <div class="education-card">
          <div class="title">
            <h2>Masters in Business Administration<br>(MBA)</h2>
          </div>
          <div class="university">
            <h2>IESE<br>University of Navarra</h2>
          </div>
          <div class="logo">
            <%= link_to image_tag("IESE_LOGO.png", alt: "logo IESE"), "https://mba.iese.edu/", target: :_blank %>
          </div>
          <div class="description">
            <p>During this formative experience I put an emphasis on new technology, marketing, leadership, and data analysis. I developed a particular interest in economics, managerial accounting and complemented my classroom learnings with readings on behavioral sciences. I was astonished by the quality of the people I got to spend two years with, both my peers and our professors. This gave me the confidence and the basic principles to approach any challenge with humility and patience.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="education-category">
      <div class="category-title">
        <h1>Trainings and Certifications</h1>
      </div>
      <div class="training-grid">
        <div class="education-card">
          <div class="logo">
            <%= link_to image_tag("COURSERA_LOGO.png", alt: "logo Coursera"), "https://www.coursera.org/account/accomplishments/records/JVSQAEWUD2NY", target: :_blank %>
          </div>
          <div class="university">
            <h2>Coursera<br>University of Virginia<br>Darden Business School</h2>
          </div>
          <div class="title">
            <h2>Digital Product Management: Modern Fundamentals</h2>
          </div>
          <div class="description">
            <p>Through this online class I reinforced my product management fundamentals in a more formal and thourough way than my past experiences. This allowed me to review basics as well as update my knowledge.</p>
          </div>
        </div>
        <div class="education-card">
          <div class="logo">
            <%= link_to image_tag("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt: "logo Le Wagon"), "https://www.lewagon.com/", target: :_blank %>
          </div>
          <div class="university">
            <h2>Le Wagon</h2>
          </div>
          <div class="title">
            <h2>Full stack web developer bootcamp</h2>
          </div>
          <div class="description">
            <p>Nine weeks of intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. During this bootcamp I designed, implemented and shipped to production a clone of AirBnB and a Rails prototype of www.ace-interviews.io.</p>
          </div>
        </div>
        <div class="education-card">
          <div class="logo">
            <%= link_to image_tag("COURSERA_LOGO.png", alt: "logo Coursera"), "https://www.coursera.org/account/accomplishments/records/JVSQAEWUD2NY", target: :_blank %>
          </div>
          <div class="university">
            <h2>Coursera<br>University of California<br>Davis</h2>
          </div>
          <div class="title">
            <h2>SQL for Data Science</h2>
          </div>
          <div class="description">
            <p>In this online course I refreshed my working knowledge of SQL for data science. I particularly enjoyed going over ER diagrams again and, as always with SQL, practicing joining tables and creating new tables from existing tables.</p>
          </div>
        </div>
        <div class="education-card">
          <div class="logo">
            <%= link_to image_tag("IC_AGILE_LOGO.png", alt: "logo IC Agile"), "https://www.icagile.com/", target: :_blank %>
          </div>
          <div class="university">
            <h2>International Consortium for Agile</h2>
          </div>
          <div class="title">
            <h2>Agile Professional Certification</h2>
          </div>
          <div class="description">
            <p>This training focuses on the history of the agile movement, the distinctions among Agile values, principles, and practices, key aspects of value-driven development, adaptive planning techniques, and how to cultivate collaboration with customers, within organizations and within teams. In addition, it focuses on helping course participants understand the value of continuous feedback, learning, and adaptation for products, processes, teams, and organizations.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="education-category">
      <div class="category-title">
        <h1>Books</h1>
      </div>
      <div class="book-grid">
        <div class="book-card">
          <div class="book-image">
            <%= link_to image_tag("MEASURE_WHAT_MATTERS.jpg", alt: "Measure what matters book cover"), "https://www.amazon.co.uk/Measure-What-Matters-Simple-Drives/dp/024134848X/ref=sr_1_1?dchild=1&keywords=measure+what+matters&qid=1593186709&sr=8-1", target: :_blank %>
          </div>
          <div class="book-title">
            <h2>Measure What Matters</h2>
          </div>
          <div class="book-author">
            <h3>John Doerr</h3>
          </div>
          <div class="book-description">
            <p>This is a great book that introduces the concept of OKR (Objectives and Key Results) as a method of measuring what actually matters and will, if applied properly, yield the best out of most people at every level.</p>
          </div>
        </div>
        <div class="book-card">
          <div class="book-image">
            <%= link_to image_tag("MEASURE_WHAT_MATTERS.jpg", alt: "Measure what matters book cover"), "https://www.amazon.co.uk/Measure-What-Matters-Simple-Drives/dp/024134848X/ref=sr_1_1?dchild=1&keywords=measure+what+matters&qid=1593186709&sr=8-1", target: :_blank %>
          </div>
          <div class="book-title">
            <h2>Measure What Matters</h2>
          </div>
          <div class="book-author">
            <h3>John Doerr</h3>
          </div>
          <div class="book-description">
            <p>This is a great book that introduces the concept of OKR (Objectives and Key Results) as a method of measuring what actually matters and will, if applied properly, yield the best out of most people at every level.</p>
          </div>
        </div>
        <div class="book-card">
            <div class="book-image">
              <%= link_to image_tag("MEASURE_WHAT_MATTERS.jpg", alt: "Measure what matters book cover"), "https://www.amazon.co.uk/Measure-What-Matters-Simple-Drives/dp/024134848X/ref=sr_1_1?dchild=1&keywords=measure+what+matters&qid=1593186709&sr=8-1", target: :_blank %>
            </div>
            <div class="book-title">
              <h2>Measure What Matters</h2>
            </div>
            <div class="book-author">
              <h3>John Doerr</h3>
            </div>
            <div class="book-description">
              <p>This is a great book that introduces the concept of OKR (Objectives and Key Results) as a method of measuring what actually matters and will, if applied properly, yield the best out of most people at every level.</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
              <%= link_to image_tag("MEASURE_WHAT_MATTERS.jpg", alt: "Measure what matters book cover"), "https://www.amazon.co.uk/Measure-What-Matters-Simple-Drives/dp/024134848X/ref=sr_1_1?dchild=1&keywords=measure+what+matters&qid=1593186709&sr=8-1", target: :_blank %>
            </div>
            <div class="book-title">
              <h2>Measure What Matters</h2>
            </div>
            <div class="book-author">
              <h3>John Doerr</h3>
            </div>
            <div class="book-description">
              <p>This is a great book that introduces the concept of OKR (Objectives and Key Results) as a method of measuring what actually matters and will, if applied properly, yield the best out of most people at every level.</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
              <%= link_to image_tag("MEASURE_WHAT_MATTERS.jpg", alt: "Measure what matters book cover"), "https://www.amazon.co.uk/Measure-What-Matters-Simple-Drives/dp/024134848X/ref=sr_1_1?dchild=1&keywords=measure+what+matters&qid=1593186709&sr=8-1", target: :_blank %>
            </div>
            <div class="book-title">
              <h2>Measure What Matters</h2>
            </div>
            <div class="book-author">
              <h3>John Doerr</h3>
            </div>
            <div class="book-description">
              <p>This is a great book that introduces the concept of OKR (Objectives and Key Results) as a method of measuring what actually matters and will, if applied properly, yield the best out of most people at every level.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="education-background">
  <div class="education-white-screen">
    <div class="content ">

      <div class="education-card">
        <div class="education-category">
          <h1>Diploma</h1>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("IESE_LOGO.png", alt: "logo IESE"), "https://mba.iese.edu/", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Masters in Business Administration</h2>
            </div>
            <div class="education-content">
              <h3>IESE Business School - University of Navarra</h3>
              <p>During this formative experience I put an emphasis on new technology, marketing, leadership, and data analysis. I developed a particular interest in economics, managerial accounting and complemented my classroom learnings with readings on behavioral sciences. I was astonished by the quality of the people I got to spend two years with, both my peers and our professors. This gave me the confidence and the basic principles to approach any challenge with humility and patience.</p>
            </div>
          </div>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("EHL_LOGO.png", alt: "logo IESE"), "https://www.ehl.edu/en/programs/bachelor-degree-in-hospitality", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Bachelor of Science in Hospitality Management</h2>
            </div>
            <div class="education-content">
              <h3>Ecole Hoteliere de Lausanne</h3>
              <p>In this four and a half year program, I learnt the basics of many important topics such as marketing, digital marketing, finance and project management. I came out with a great appreciation of the customer's experience rather than the intended experience of the customer and a persisting love for analytics.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="education-card">
        <h1 class="education-category">Trainings and Certifications</h1>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt: "logo Le Wagon"), "https://www.lewagon.com/", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Full stack web developer bootcamp</h2>
            </div>
            <div class="education-content">
              <h3>Le Wagon - London</h3>
              <p>Nine weeks of intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. During this bootcamp I designed, implemented and shipped to production a clone of AirBnB and a Rails prototype of www.ace-interviews.io.</p>
            </div>
          </div>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("IC_AGILE_LOGO.png", alt: "logo IC Agile"), "https://www.icagile.com/", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Agile Professional Certification</h2>
            </div>
            <div class="education-content">
              <h3>International Consortium for Agile</h3>
              <p>This training focuses on the history of the agile movement, the distinctions among Agile values, principles, and practices, key aspects of value-driven development, adaptive planning techniques, and how to cultivate collaboration with customers, within organizations and within teams. In addition, it focuses on helping course participants understand the value of continuous feedback, learning, and adaptation for products, processes, teams, and organizations.</p>
            </div>
          </div>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("COURSERA_LOGO.png", alt: "logo Coursera"), "https://www.coursera.org/account/accomplishments/records/JVSQAEWUD2NY", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>SQL for Data Science</h2>
            </div>
            <div class="education-content">
              <h3>Coursera - University of California, Davis</h3>
              <p>In this online course I refreshed my working knowledge of SQL for data science. I particularly enjoyed going over ER diagrams again and, as always with SQL, practicing joining tables and creating new tables from existing tables.</p>
            </div>
          </div>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("RIOT_LOGO.png", alt: "logo Riot Games"), "https://www.riotgames.com/", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Business Intelligence Training</h2>
            </div>
            <div class="education-content">
              <h3>Riot Games</h3>
              <p>In this one month training I got to be part of the Business Intelligence team and learn the difference between good and bad data requests. This is where I was first introduced to SQL, Tableau and ended up working with the Business Intelligence team for two more months after my training.</p>
            </div>
          </div>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("RIOT_LOGO.png", alt: "logo Riot Games"), "https://www.riotgames.com/", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Emergency Response Training</h2>
            </div>
            <div class="education-content">
              <h3>Riot Games</h3>
              <p>During this two day training with the NOC (Network Operating Center) I was taught how to properly respond to emergency situations and got to practice in a real life situation quite fast as I was the regional emergency contact when servers were attacked, in the middle of the training. This was not a simulation.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="education-card">
        <h1 class="education-category">Books</h1>
        <div class="library">
          <div class="book">
            <div class="book_img">
              <%= link_to image_tag("MEASURE_WHAT_MATTERS.jpg", alt: "Measure what matters book cover"), "https://www.amazon.co.uk/Measure-What-Matters-Simple-Drives/dp/024134848X/ref=sr_1_1?dchild=1&keywords=measure+what+matters&qid=1593186709&sr=8-1", target: :_blank %>
            </div>
            <div class="book-text">
              <h2>Measure What Matters</h2>
              <h3>John Doerr</h3>
              <p>This is a great book</p>
            </div>
          </div>
          <div class="book">
            <div class="book_img">
              <%= link_to image_tag("Influence.jpg", alt: "Influence book cover"), "https://www.amazon.co.uk/Influence-Psychology-Robert-Cialdini-PhD/dp/006124189X/ref=sr_1_1?dchild=1&keywords=Influence&qid=1593187802&sr=8-1", target: :_blank %>
            </div>
            <div class="book-text">
              <h2>Influence: The Psychology of Persuasion</h2>
              <h3>Robert B Cialdini</h3>
              <p>This is a great book</p>
            </div>
          </div>
          <div class="book">
            <div class="book_img">
              <%= link_to image_tag("EXTREME_OWNERSHIP.jpg", alt: "Extreme Ownership book cover"), "https://www.amazon.co.uk/Extreme-Ownership-Jocko-Willink/dp/1250183863/ref=sr_1_1?crid=28E9ZTWY4O34H&dchild=1&keywords=extreme+ownership&qid=1593187349&sprefix=Extre%2Caps%2C242&sr=8-1", target: :_blank %>
            </div>
            <div class="book-text">
              <h2>Extreme Ownership</h2>
              <h3>Jocko Willink, Leif Babin</h3>
              <p>This is a great book</p>
            </div>
          </div>
        </div>
      </div>
      <div class="education-card">
        <h1 class="education-category">Informal education</h1>
      </div>
    </div>
  </div>
</div>
 -->
