<div class="photography-background">
  <div class="frame">
    <%= image_tag("PARIS TREK-33.jpg", class: "photo", :alt => "rss feed") %>
  </div>
  <div class="frame">
    <%= image_tag("PARIS TREK-34.jpg", class: "photo", :alt => "rss feed") %>
  </div>

  <div class="photo-line">
    <div class="frame">
      <%= image_tag("PARIS TREK-13.jpg", class: "photo", :alt => "rss feed") %>
    </div>
    <div class="frame">
      <%= image_tag("PORTO (9 of 6).jpg", class: "photo", :alt => "rss feed") %>
    </div>
  </div>
  <div class="frame">
    <%= image_tag("PORTO (6 of 6).jpg", class: "photo", :alt => "rss feed") %>
  </div>


  <div class="frame">
    <%= image_tag("EUNICE-2.jpg", class: "photo", :alt => "rss feed") %>
  </div>

  <div class="frame">
    <%= image_tag("TROUVILLE LIGHT.jpg", class: "photo", :alt => "rss feed") %>
  </div>

</div>
