<!DOCTYPE html>
<html>
  <head>
    <title>Morgan Lizop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Learn more about Morgan by checking out this website and browsing through his work, obsessions and hobbies.">
    <meta name="keywords" content="Morgan Lizop, Product Manager, Project Manager, Agile, Marketing">
    <meta name="author" content="Morgan Lizop">

    <meta property="og:title" content="Morgan Lizop - Agile Advocate, Product and Project Manager, Marketer">
    <meta property="og:image" content="PHOTO.jpg">
    <meta property="og:description" content="Learn more about Morgan by checking out this website and browsing through his work, obsessions and hobbies">
    <meta property="og:site_name" content="Morgan Lizop"/>
    <meta property="og:url" content="https://www.morganlizop.com"/>


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@LeFr3nchT0ast">
    <meta name="twitter:title" content="Morgan Lizop - Agile Advocate, Product and Project Manager, Marketer">
    <meta name="twitter:description" content="Learn more about Morgan by checking out this website and browsing through his work, obsessions and hobbies">
    <meta name="twitter:creator" content="@LeFr3nchT0ast">
    <meta name="twitter:image:src" content="http://twitter.com/LeFr3nchT0ast/photo">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Questrial&family=Raleway:ital,wght@0,400;0,600;0,700;1,300&family=Roboto&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
